div.jv_tab_lago2_wrap{
	padding:0
	margin:0;
}
div.jv_tab_lago2_wrap .jv_tab_container{
	margin:0;
	padding:5px;
}
.jv_tab_lago2_wrap .jv_tabpedon{
	height:100%;
	width:100%;
	background:none;
}
.jv_tab_lago2_wrap .lago2_title{
	width:100%;
	margin:0;
}
.jv_tab_lago2_wrap .lago2_title ul.tabs_title{
	margin:0;
	padding:0;
	width:100%;
	list-style:none outside none;
}
.jv_tab_lago2_wrap .lago2_title ul.tabs_title li{
	background:none;
	margin:0 10px 0 0;
	cursor:pointer;
	display:block;
	float:left;
	padding:0;
}
.jv_tab_lago2_wrap .lago2_title ul.tabs_title li h3{
	background:url(images/bg-tab.jpg) no-repeat left top;
	font-size:100%;
	font-weight:100;
	height:100%;
	margin:0;
	padding:0;
	text-transform:uppercase;
}
.jv_tab_lago2_wrap .lago2_title ul.tabs_title li h3 span{
	color:#FFFFFF;
	background:url(images/bg-tab.jpg) no-repeat right top;
	font-family:Tahoma;
	font-size:100%;
	line-height:20px;
	margin:0 0 0 10px !important;
	padding:0 10px 0 0 !important;
	text-shadow:0 1px 0 #6E6E6E;
	display:block;
}
.jv_tab_lago2_wrap .lago2_title ul.tabs_title li.active h3{
	background:url(images/bg-tab-active.jpg) no-repeat left top;
}
.jv_tab_lago2_wrap .lago2_title ul.tabs_title li.active h3 span{
	background:url(images/bg-tab-active.jpg) no-repeat right top;
}
.jv_tab_lago2_wrap div.latest_newsitem{clear: both;	
	padding: 5px 0;
	border-bottom: 1px solid #DFDFDF;
	width: 100%;
}
.jv_tab_lago2_wrap div.latest_newsitem h4{
	margin:0;
}
.jv_tab_lago2_wrap div.latest_newsitem  img{
	margin-right:10px;
	padding:3px;
	border:1px solid #E5E5E5;	
}
.jv_tab_lago2_wrap div.latest_newsitem h4 a{
	color:#BA3F00;
	font-size: 100%;
	font-weight:bold;
	display:block;
}
.jv_tab_lago2_wrap div.jv_tabs_panel{
	position: relative;
	overflow: hidden;
	width: 100%;
}
.jv_tab_lago2_wrap .jv_lago2_content{
	width:100%;
	position: absolute;
}
.jv_tab_lago2_wrap .jv_lago2_content .lago2_content_wrap{
	padding: 15px;
	margin:0;
}
.jv_tab_lago2_wrap .latest_mainitem {
	margin: 0;
	padding: 0;
	width: 100%;
}
.jv_tab_lago2_wrap .latest_newsitem p.readmore{
	clear:both;
	margin: 0;
	padding: 0;
}
.jv_tab_lago2_wrap .latest_newsitem p.readmore a{
	text-decoration: none;
	padding-left:5px ;
	color:#BA3F00;
	font-weight: bold;
}
.jv_tab_lago2_wrap div.intro,.latest_mainitem a,{
	margin: 0;
	border:0;
	padding:0;
}
.jv_tab_lago2_wrap .jv_tabs_cl {
	background: url(images/lbg.gif) repeat-y left;
}
.jv_tab_lago2_wrap .jv_tabs_cr {
	background: url(images/rbg.gif) repeat-y right;
}
.jv_tab_lago2_wrap .jv_tabs_bc {
	background: url(images/bbg.gif) repeat-x bottom;
}
.jv_tab_lago2_wrap .jv_tabs_tc {
	background: url(images/tbg.gif) repeat-x top;
}
.jv_tab_lago2_wrap .jv_tabs_br {
	background: url(images/br.gif) no-repeat bottom right;
}
.jv_tab_lago2_wrap .jv_tabs_bl {
	background: url(images/bl.gif) no-repeat bottom left;
}
.jv_tab_lago2_wrap .jv_tabs_tr {
	background: url(images/tr.gif) no-repeat top right;
}
.jv_tab_lago2_wrap .jv_tabs_tl {
	overflow: hidden;
	padding: 5px;
	background: url(images/tl.gif) no-repeat top left;
}