.menusys_submoo {
	float: right;
}

#menusys_submoo {
	margin: 0;
	padding: 0;
	float: left;
	height: 35px;
}

#menusys_submoo ul {
	margin: 0; 
	padding: 0;
}

#menusys_submoo li {
	margin: 0 5px 0 0; 
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}

#menusys_submoo li a {
	padding: 0 0 0 10px;
	display: block;
	text-decoration: none;
	line-height: 35px;
	font-weight: normal;
	background: url(../../images/mainmenu-l.png) no-repeat left center;

}
#menusys_submoo li a span {
	padding: 0 10px 0px 0;
	border: none;
	display: block;
	font-size:11px;
	line-height: 35px;
	color: #d4d4d4;
	background: url(../../images/mainmenu-r.png) no-repeat right center;
	text-transform: uppercase;
}

#menusys_submoo li a.active,
#menusys_submoo li a.active:hover,
#menusys_submoo li a.active:active,
#menusys_submoo li a.active:focus {
}
#menusys_submoo li a.active span,
#menusys_submoo li a.active:hover span,
#menusys_submoo li a.active:active span,
#menusys_submoo li a.active:focus span {
	color: #4cd395;
}

#menusys_submoo li:hover a,
#menusys_submoo li.hover a,
#menusys_submoo li a:hover,
#menusys_submoo li a:active,
#menusys_submoo li a:focus {
}
#menusys_submoo li a:hover span,
#menusys_submoo li a:active span,
#menusys_submoo li a:focus span,
#menusys_submoo li:hover a span,
#menusys_submoo li.hover a span {
	color: #4cd395;
}
/* Style for sub menu */
#menusub_submoo {
	clear: both;
	display: block;
	height: 20px;
	margin: 0 0 0 10px;
	padding: 0;
}
#menusub_submoo li {
	margin: 0 5px 0 0; 
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}
#menusub_submoo li a {
	padding: 0 0 5px 0;
	display: block;
	color: #FFF;
	text-decoration: none;
	line-height: 20px;
	text-shadow: none;
}
#menusub_submoo li a span {
	padding: 0 10px;
	line-height: 20px;
	display: block;
	border: none;
	color: #5E5E5E;
}
#menusub_submoo li a.active span,
#menusub_submoo li a:hover span,
#menusub_submoo li a:active span,
#menusub_submoo li a:focus span,
#menusub_submoo li:hover a span,
#menusub_submoo li.hover a span {
	background: #121212;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
#menusub_submoo li a.active span,
#menusub_submoo li a:hover span,
#menusub_submoo li a:active span,
#menusub_submoo li a:focus span,
#menusub_submoo li:hover a span,
#menusub_submoo li.hover a span {  
}
#menusub_submoo li ul {
	width: 16.9em;
	position: absolute;
	z-index: 99;
	left: -999em; 
	height: auto;
	margin: 0;
	background: #525252;
	border-top: solid 1px #373737;
	border-left: solid 1px #373737;
	border-right: solid 1px #373737;
}

#menusub_submoo li ul ul {
	margin: -1.8em 0 0 15.5em;
}
#menusub_submoo li li {
	padding: 0;
	line-height: 24px;
	margin: 0;
	width: 16.9em;
}
#menusub_submoo ul a {
}

#menusub_submoo li:hover ul ul, #menusub_submoo li:hover ul ul ul,
#menusub_submoo li.hover ul ul, #menusub_submoo li.havechildhover ul ul, #menusub_submoo li.havechild-activehover ul ul, #menusub_submoo li.activehover ul ul,
#menusub_submoo li.hover ul ul ul, #menusub_submoo li.havechildhover ul ul ul, #menusub_submoo li.havechild-activehover ul ul ul, #menusub_submoo li.activehover ul ul ul {
	left: -999em;
}

#menusub_submoo li:hover ul, #menusub_submoo li li:hover ul, #menusub_submoo li li li:hover ul,
#menusub_submoo li.hover ul, #menusub_submoo li.havechildhover ul, #menusub_submoo li.havechild-activehover ul, #menusub_submoo li.activehover ul,
#menusub_submoo li li.hover ul, #menusub_submoo li li.havesubchildhover ul, #menusub_submoo li li.havesubchild-activehover ul, #menusub_submoo li li.activehover ul,
#menusub_submoo li li li.hover ul, #menusub_submoo li li li.havesubchildhover ul, #menusub_submoo li li li.havesubchild-activehover ul, #menusub_submoo li li li.activehover ul {
	left: auto;
}

#menusub_submoo li:hover a.active span,
#menusub_submoo li a:hover span,
#menusub_submoo li a:active span,
#menusub_submoo li a:focus span,
#menusub_submoo li a.active:hover span,
#menusub_submoo li a.active:active span,
#menusub_submoo li a.active:focus span,
#menusub_submoo li:hover a span,
#menusub_submoo li.hover a span,
#menusub_submoo li.havechildhover a span,
#menusub_submoo li.havechild-activehover a span {
}

#menusub_submoo li ul ul li {
	width: 16.9em;
}
#menusub_submoo li ul li {
	border-bottom: solid 1px #373737;
	background: #303030 url(../../images/bt-menuright.png) repeat-x top;
}
#menusub_submoo li ul li.hasChild {
}
#menusub_submoo li ul a {
	margin: 0;
	padding: 0;
	line-height: normal;
	height: auto;
	border: none !important;
}
#menusub_submoo li ul a:hover,
#menusub_submoo li ul a:active,
#menusub_submoo li ul a:focus {
	color: #51E8A3 !important;
}

#menusub_submoo li ul a span {
	padding: 0 0 0 20px;
	line-height: 28px;
	font-weight: normal;
	background: none !important;
	text-transform: none;
	color: #FFF !important;
}

#menusub_submoo li.havesubchild,
#menusub_submoo li.havesubchild-active {
}

#menusub_submoo li ul a:hover,
#menusub_submoo li ul a:active,
#menusub_submoo li ul a:focus,
#menusub_submoo ul li:hover,
#menusub_submoo ul li.hover,
#menusub_submoo ul li.havesubchildhover,
#menusub_submoo ul li.havesubchild-activehover,
#menusub_submoo ul ul li:hover,
#menusub_submoo ul ul li.hover,
#menusub_submoo ul ul li.havesubchildhover,
#menusub_submoo ul ul li.havesubchild-activehover {
}

#menusub_submoo li ul a.active span,
#menusub_submoo li ul a:hover span,
#menusub_submoo li ul a:active span,
#menusub_submoo li ul a:focus span {
	color: #51E8A3 !important;
}
#menusub_submoo ul li a.active {
}

#menusub_submoo ul li a.active:hover,
#menusub_submoo ul li a.active:active,
#menusub_submoo ul li a.active:focus {
}