div.jv_tab_news_wrap {
	padding: 5px;
	background: #DEDFDF;
}
div.jv_tabnews {
	overflow: hidden;
	width:100%;
	background: url(images/box-bl.jpg) no-repeat bottom left #FFF;
}
div.jv_tabnews_bl {
	position: relative;	
	overflow: hidden;
	width:100%;
	background: url(images/box-br.jpg) no-repeat bottom right;
}
div.jv_tab_news_wrap .news_title{	
	width:100%;
	margin: 0;
	padding: 0 1px 0 0;
	position: relative;
	top: 0;
	left: -1px;
	background: #DEDFDF;
}
div.jv_tabnews div.news_title ul.tabs_title{
	margin: 0px;
	padding: 0px;
	width: 100%;	
}
.jv_tab_news_container .jv_news_content .jv_news_wrap{
	margin: 0;
	padding: 10px;
}
.jv_tabnews .news_title ul.tabs_title li{
	background: none;
	border: none !important;
	cursor:pointer;
	display:block;
	float:left;
	padding:0;
	list-style-type:none;
}
.jv_tabnews .news_title ul.tabs_title li h3 {
	background:url(images/bg_tab_l.jpg) no-repeat top left;
	font-size: 100%;
	font-weight: 100 !important;
	margin: 0px;
	padding: 0px;
	border: none !important;
	float: left;
	height: 100%;
	border-bottom: solid 1px #DEDFDF !important;
}
.jv_tabnews .news_title ul.tabs_title li h3 span{
	background:url(images/bg_tab_r.jpg) no-repeat right top;
	display:block;
	font-size:100%;
	color:#A9A9A9;
	font-family:Tahoma;
	line-height:27px;
	padding:2px 15px 1px 0;
	margin:0 0 0 15px;
}
.jv_tabnews .news_title ul.tabs_title li.active h3 {
	border-bottom: solid 1px #FFF;
}
.jv_tabnews .news_title li.active h3 span{
	color:#01529F;
	font-weight:bold;
}
.jv_tabnews div.jv_tabs_panel{
	clear: both;
	overflow: hidden;
	margin: 0;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	/*width: 100%;*/
} 
.jv_tabnews div.jv_tabs_panel .jv_news_content{
	margin: 0;
	position: absolute;
	width: 100%;`
}
.jv_tabnews div.jv_tabs_panel .jv_news_content ul{
	list-style:none;
	clear:both;
	padding:10px;
	display:block;
	margin:0 !important;
}

.jv_tabnews div.jv_tabs_panel .jv_news_content ul li{
	background:none;
	border-bottom:1px solid #DFDFDF;
	margin:0;
	padding:4px 6px;
}
.jv_tabnews div.jv_tabs_panel .jv_news_content h3{
	background:none;
	font-family:Tahoma;
	font-size:95%;
	height:100%;
	line-height:100%;
	margin:5px 0 5px 0;	
}
.jv_tabnews div.jv_tabs_panel .jv_news_content li a{
	color:#2A5B9E;
	text-decoration:none;
	margin:0;
	font-weight:bold;
	padding:0 !important;
}
.jv_tabnews div.jv_tabs_panel .jv_news_content li a img{
	border:1px solid #B2B2B2;
	padding:1px;
	margin-right:10px;
}
li .news_item{
	padding:0;
	overflow: hidden;
}
.news_item .news_main_item{
	margin: 0;
	padding: 0;
	float:left;
	width: 100%;
}
.news_item  p.readmore{
	clear:both;
	margin: 0;
	padding: 0;
}
.news_item p.readmore a{
	text-decoration: none;
	padding-left: 15px;
	font-weight: bold;
}
