.jvcounter_contain { background: #ffffff; border: 1px solid #cccccc; font-family: Arial, Helvetica, sans-serif; color: #797979; font-size: 14px; 
	box-shadow: 1px 1px 5px rgba(0,0,0,0.31);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.31);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.31); }

.jvcounter_headertext { background: #ffffff; color: #434343; font-size: 18px; font-family: Georgia, "Times New Roman", Times, serif; padding: 8px 0px; margin:17px 0 25px; position: relative; text-align: center}
.title_header { background: url(images/title_header.png) repeat-x; height: 7px; display: block; position: absolute; top: -5px; width: 100%; left: 0;}

.digitstype { margin-bottom: 30px; text-align: center;}

.counterday { margin:0 25px;}

.jvcounter_alldays { margin-bottom: 15px;}

.counteronline { border-top: 1px dashed #cacaca; padding: 15px 0;  margin: 0 25px 30px; }

.counterday .jvcounter_rows, .counteronline .jvcounter_rows{ text-align: right;}

.counterday span, .counteronline span { color: #696969; float: left; text-align: left}