

/* COMMON STYLE
--------------------------------------------------------- */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
}
body {
	background: #FFFFFF;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
body.contentpane {
	color: #000000;
	background: #FFFFFF;
	font-size: 12px;
	line-height: 1.3em;
	margin: 0;
	margin: 1em 2em;
	width: auto; /* Printable Page */
}
.contentpane .button {
	display: inline;
	height: 25px;
	padding: 0 10px;
}

/* Small text */
small, .small, .smalldark, .article-meta, .modifydate, .img_caption p, .site-slogan {
	font-size: 92%;
}
/*article image*/
img {
}
.img_caption p {
	text-align: center;
	color: #000000;
}
.img_caption.left, .img_caption.right {
	margin-top: 3px;
}

.img_caption img {
	padding: 1px;
	border: 1px solid #CCCCCC;
}
.img_caption p {
	background: url(../images/shadow-bg.gif) no-repeat right top;
	padding-top: 5px;
	margin-top: 0px;
}
img.caption {
	margin-right: 10px;
	padding: 1px;
	border: 1px solid #E5E5E5;
}
img.personal {
	margin-right: 5px;
	padding: 3px;
	background:#313131;
	border: 1px solid #464646;
}
a {
	outline: none;
	color: #000;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	text-decoration: none;
	color:#FF0000;
}
.shadow img {
	padding: 1px;
	border: 1px solid #CCCCCC;	
}

.shadow {
	float: left;
	margin-right: 10px;
	padding-bottom: 3px;
}

/* Heading */
h1 {font-size: 200%;}
h2 {font-size: 175%;}
h3 {font-size: 150%;}
h4 {font-size: 125%;}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
ul li {
	padding-left: 20px;
	background: url(../images/bullet.png) no-repeat 7px 7px;
}
ul.menu {
}
#jv-user1 ul.menu {
	float: right;
}
div.modulecontent ul.menu {
	margin: 0;
}
ul.menu li {
	margin-left: 0;
	padding: 0;
	background: none;
}
ul.menu li a {
}
ul.menu ul {
	margin: 0 0 0 15px;
}
ul.menu ul li {
	margin-left: 0;
	padding: 5px 0;
	border-bottom: none;
}
ul.list {
	margin: 0;
}
ul.list li {
	padding: 5px 0 5px 0;
	background: none;
	border-bottom: 1px solid #EAEAEA;
}
ul.list li a {
	color: #444;
	font-weight: bold;
}
ol li {
	margin-left: 21px;
}
th {
	font-weight: bold;
	padding: 8px;
	text-align: left;
}
fieldset {
	border: none;
	padding: 10px 5px;
}
fieldset a {
	font-weight: bold;
}
fieldset.input {
	padding: 0;
	background: none;
}
legend {
	font-weight: bold;
	background: #FFFFFF;
}
td, th, div {
	font-size: 100%;
}

/* FORM
--------------------------------------------------------- */
form {
	margin: 0;
	padding: 0;
}
form label {
	color:#333;
}
input, select, textarea, .inputbox, .button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	border: 0px;
}
.inputbox {
	color: #d5d5d5;
	background: #FFF;
	border: 1px solid #DEDEDE;
}
.button {
	margin: 0 2px;
	padding: 1px 5px 2px;
	height: 20px;
	color: #FFF;
	cursor: pointer;
	border: none;	float:left;
	text-transform: uppercase;
	background: url(../images/button.gif) repeat-x top; font-size:11px; font-weight:bold;

}
.search {
	margin: 20px 0 0; height:auto;
}
.search .inputbox {
	margin:0px;
	margin-right: 5px;
	height: 16px;
	width: 250px;
	padding: 2px 5px;
	float:left;
	color:#6d6d6d;
	border:0px;
	font-size:12px;
	border:1px solid #e5e5e5;
}
/* JOOMLA STYLE
--------------------------------------------------------- */
/* Article Layout */
.leading {
	padding-bottom: 10px;
}
.leading_separator {
	display: block;
	margin: 1px 0;
	height: 2px;
	overflow: hidden;
	width: 100%;
}
.article_column {
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
}
.article_separator {
	clear: both;
	margin: 0;
	display: none;
}
.row_separator {
	display: block;
	clear: both;
	height: 2px;
}
.article_row {
	margin: 0;
	overflow: hidden;
}
.column1.cols1 {
	float: none;
}
.column2.cols2 {
	float: right;
}
.column3.cols3 {
	float: right;
}
.column4.cols4 {
	float: right;
}
.column5.cols5 {
	float: right;
}
.column1.cols2 .article_column_pad,
.column1.cols3 .article_column_pad,
.column2.cols3 .article_column_pad,
.column1.cols4 .article_column_pad,
.column2.cols4 .article_column_pad,
.column3.cols4 .article_column_pad,
.column1.cols5 .article_column_pad,
.column2.cols5 .article_column_pad,
.column3.cols5 .article_column_pad,
.column4.cols5 .article_column_pad {
}
.article_column_pad {
	margin: 10px 10px 10px 0;
	padding: 0 10px 0 0;
	overflow: hidden;
}
p.iteminfo {
	line-height: 1em;
	margin: 0 -10px 5px;
	padding: 10px;
}
.article_row p.iteminfo {
	line-height: 1em;
	margin: 0 -10px 5px;
	padding: 10px;
}
.articleinfo {
	margin: 0.5em 0;
}
/* Category Table layout */
.filter {
	float: left;
	margin: 0;
	padding: 0;
}
.display {
	float: right;
	margin: 10px 0 0;
	text-align: right;
}
/**/
table.category,
table.weblinks,
table.newsfeeds {
	border: 1px solid #383838;
	width: 100%;
	clear:both;
	font-size:1em;
	margin:20px 0;
}
table.newsfeeds th, table.weblinks th, table.category th {

	background: url("../images/bg-menuright.png") repeat-x scroll center bottom;
	padding: 8px 5px 8px 5px;
}
table.newsfeeds td, table.weblinks td, table.category td {
	padding:5px;
}
/* content tables */
.sectiontableheader {
	padding: 4px 8px;
	font-weight: bold;
}
.sectiontableheader a,
.sectiontableheader a:hover,
.sectiontableheader a:active,
.sectiontableheader a:focus {
	color: #d4d4d4;
}
tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	padding: 8px;
}
tr.sectiontableentry2 td {
	background: #262626;
}
td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
	padding: 4px;
}
table.contentpane {
	border: none;
	background:#262626;
	border:1px solid #383838;
	width: 100%;
}
table.contentpaneopen {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
table.contenttoc {
	margin: 0 0 10px 10px;
	padding: 0;
	width: 30%;
	float: right;
}
table.contenttoc td {
	background: url(../images/bullet-list.gif) no-repeat 5px 8px;
	padding: 1px 5px 1px 15px;
}
table.contenttoc th {
	border-bottom: 1px solid #CCCCCC;
	padding: 0 0 3px;
	text-indent: 5px;
}
table.poll {
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}
table.pollstableborder {
	border: none;
	padding: 0;
	text-align: left;
	width: 100%;
}
table.pollstableborder img {
	vertical-align: baseline;
}

table.pollstableborder td {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 4px !important;
	background: none;
}
table.pollstableborder tr.sectiontableentry1 td {
	background: #EEEEEE;
}

table.searchintro {
	padding: 10px 0;
	width: 100%;
}
table.searchintro td {
	padding: 5px!important;
}
.blog_more {
	margin: 0;
	padding: 10px 0 0;
}
.blog_more strong {
	display: block;
	margin: 0 0 5px;
	text-transform: uppercase;
}
.blog_more ul {
	margin: 0;
	padding: 0;
}
.blog_more ul li {
	margin: 0;
	padding: 0 0 0 21px;
}
.category {
	font-weight: normal;
}
h1.componentheading,
.componentheading {
	margin: 0 0 0.5em 0;
	padding: 0;
	display: block;
	line-height: normal;
}
.contentdescription {
	/*padding-bottom: 30px;*/
}
h2.contentheading,
.contentheading {
	margin: 0;
	padding: 0;
	line-height: normal;
}
h2.contentheading a,
.contentheading a {
}
table.blog .contentheading {
	font-size: 1.4em;
}
td.contentheading {
	line-height: 28px;
}
a.contentpagetitle,
a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
}
a.readon {
	padding: 0 10px 0 0;
	text-align: center;
	font-weight: bold;
	background: url(../images/readon.gif) no-repeat 100% 3px;
}
a.readon:hover,
a.readon:focus,
a.readon:active {
	text-decoration: underline;
}
table.contentpaneopen td, table.contentpane td {
	padding:0; 
}
table.contentpaneopen, table.contentpane, table.blog {
	width: 100%;
}
.moduletable {
	padding: 0;
}
ul.pagination {
	color: #3B5468;
	overflow: hidden;
	clear: both;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}
ul.pagination li {
	margin: 10px 2px;
	padding: 0;
	/*float: left;*/
	display: inline;
	height: 22px;
}
ul.pagination li span {
	padding: 0;
	display: inline-block;
	color: #8A8A8A;
}
ul.pagination li span span {
	padding: 2px 10px 2px 10px;
	display: inline-block;
	background:#2a2a2a;
	border:1px solid #383838;
}
ul.pagination a {
	padding: 0;
	text-decoration: none;
	color: #3B5468;
	font-weight: bold;
}
ul.pagination a:hover span, ul.pagination a:active span, ul.pagination a:focus span {
	color: #51E8A3;
}
.counter {
	text-align: center;
	margin: 0.5em auto;
	width: 107px;
	background: #2e2e2e;
	border:1px solid #383838;
}
.pagenavbar {
	background: url(../images/icon-pages.gif) no-repeat center left;
	font-weight: bold;
	padding-left: 14px;
}
.pagenavcounter {
	background: url(../images/icon-pages.gif) no-repeat 0 11px;
	font-weight: bold;
	padding: 8px 14px 0 14px;
}
.smalldark {
	text-align: left;
}
div.syndicate div {
	text-align: center;
}
/* META
--------------------------------------------------------- */
.article-toolswrap {
	display: block;
	margin: 0 0 10px;
	padding: 0;
	position: relative;
}
.article-tools {
	display: block;
	padding: 0 10px 0 0;
}
.article-meta {
	width: 70%;
	float: left;
	color: #3B5468;
}
.createdby {
	font-size: 0.9em;
}

.createdate {
	font-size: 0.9em;
}
.modifydate {
	width: 100%;
	display: block;
	margin: 0 0 3px 0;
}
.article-section {
	padding-left: 6px;
	margin-left: 5px;
}

.article-section a {
	color: #3B5468;
}
.article-category a {
	color: #3B5468;
}
.buttonheading img {
	margin: 12px 0 0 3px !important;
	padding: 0 !important;
	border: 0 !important;
	float: right;
	background: none !important;
}
p.buttonheading {
	text-align:right;
	margin: 0;
}

p.buttonheading a:hover {
	background:none !important;
	color:#000 !important;
}
p.buttonheading a:active,p.buttonheading a:focus {
	color:#000;
}
ul.latestnews,
ul.mostread {
	padding-left: 0; 
}
ul.latestnews li,
ul.mostread li {
	margin: 0;
	padding: 0 0 0 20px;
	border-bottom: none;
}
a.button-grey {
	margin: 2px 5px 0 5px;
	padding: 0 15px 0 0;
	float: left;
	line-height: 18px;
	color: #333;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	background: url(../images/button-grey.jpg) no-repeat 100% 0;
}
a.button-grey span {
	margin: 0;
	padding: 0 0 0 15px;
	float: left;
	line-height: 18px;
	cursor: pointer;
	background: url(../images/button-grey.jpg) no-repeat 0 0;
}
a.button-grey:hover,
a.button-grey:focus,
a.button-grey:active {
	color: #658a00;
	text-decoration: none;
}
.loginframe {
	margin: 0 auto;
	padding: 10px;
	width: 400px;
	height: 145px;
	position: relative;
	background: #FFF;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.closebox {
	margin: -25px -25px 0 0;
	float: right;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-indent: -999em;
	cursor: pointer;
	background: url(../images/closebox.png) no-repeat 0 0;
}
.logincol {
	margin: 0 10px 0 0;
	float: left;
	width: 180px;
}
.logincol label {
	margin: 5px 0;
	display: block;
}

.logincol ul {
	margin: 5px 0;
}
.required {
	color: #d5d5d5;
}
#jvloginframe {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: transparent url(../images/bg-dot-black.png);
}
#jvloginContent {
	display: block;
	position: fixed;
	width: 100%;
	left: 0;
	top: -165px;
	z-index: 10000;
}
#jvbacktotop {
	cursor: pointer;
}
.breadcrumbs {
}
.breadcrumbs img {
	margin-bottom: -3px;
}