div.time { width:206px; float:left; text-align:center; line-height:33px; color:#FFF; }
div.banner_logo { width:100%; height:104px;}
div#jv-userwrap11 { width:100%; }
div#jv-userwrap11-inner { padding: 1px 0; }
div.vmCartModule { border-left: 1px solid #d6d5d5; border-bottom: 1px solid #d6d5d5; border-right: 1px solid #d6d5d5; padding: 10px 0;}
div.moduletable_thongke h3 { background: url(../images/xuandung/thongke_h3.png) no-repeat; height:19px; line-height:19px; text-indent:30px; text-transform:uppercase; font-weight:bold; font-size:12px; color:#087cae; margin: 0; }
div.moduletable_thongke { border-left: 1px solid #d6d5d5; border-right: 1px solid #d6d5d5; background:#f7f5f5; padding:15px 0 10px 0; }
div.moduletable_tienich h3 { background: url(../images/xuandung/tienich_h3.png) no-repeat; height:35px; line-height:35px; text-indent:30px; text-transform:uppercase; font-weight:bold; font-size:12px; color:#ce0201; margin: 0; }
div.moduletable_tienich { background: url(../images/xuandung/tienich_bg_bottom.png) no-repeat bottom; padding: 0 0 27px 0; }
div.lk {  width:204px; margin-bottom:15px; text-align:center; }
div#vmarquee { width:204px; text-align:center; padding:10px 0; margin: 10px 0; }
div#vmarquee a { margin: 5px 0; }
div#vmarquee img { opacity: 0.6; }
div#vmarquee img:hover { opacity: 1; }
table.chantrang img { opacity: 0.6; }
table.chantrang img:hover { opacity: 1; }
table.sp_nn { padding: 0 0 0 4px; display:block; }
div.MagicToolboxSelectorsContainer img { border: 1px solid #e1e1e1; padding:2px; margin:0 2px; width:50px; height:50px; }
ul.jwts_tabbernav li a { text-transform:uppercase; font-size:11px; font-weight:bold; }
div.itemContainer { border-bottom: 1px solid #e1e1e1; }
div.moduletable_tintuc_sukien h3 { background: url(../images/xuandung/tintuc_title.png) no-repeat; height:30px; line-height:29px; text-indent:35px; text-transform:uppercase; font-weight:bold; font-size:11px; color:#FFF; margin: 0; }
ul.link li { background:none; }
div#jv-breadcrumb-inner { padding:0 0 5px 0; }


.product_list { float:left; background: #FFF url(../images/xuandung/san_pham_home_bg.png) repeat-y; padding:15px 0 0 9px; }
.page { float:left; background: #FFF url(../images/xuandung/san_pham_home_bg.gif) repeat-y; padding:2%; width:96%; }
#k2Container { float:left; background: #FFF url(../images/xuandung/san_pham_home_bg.png) repeat-y; padding:0 2% 0 2%; width:96%; }
.phantrang { background: #FFF url(../images/xuandung/san_pham_home_bg_end.png) no-repeat; width:100%; height:31px; margin: 0; float:left; }
.boder_sanpham { border: 1px double #d6d6d6; padding: 0; margin:5px; }
.sanphamlienquan { float:left; background: #FFF url(../images/xuandung/san_pham_home_bg.png) repeat-y; width:100%; }
.chitietsanpham { float:left; background: #FFF url(../images/xuandung/san_pham_home_bg.png) repeat-y; padding: 15px; width:96%; padding: 2%; }
.ctsph3 { background:url(../images/xuandung/title_bg.png) no-repeat left; height:31px; line-height:30px; font-size:11px; text-indent:35px; color:#FFF; text-transform:uppercase; font-weight:bold; }
.chi-tiet-san-pham h5 { text-transform:uppercase; font-size:12px; font-weight:bold; color:#FF0000; height:30px; line-height:30px; }
.title-webvn { background:url(../images/xuandung/title_splq.png) no-repeat left; height:28px; line-height:28px; font-size:12px; text-indent:15px; color:#333; text-transform:uppercase; font-weight:bold; width:100%; }
.contact_email { background: #FFF url(../images/xuandung/san_pham_home_bg.gif) repeat-y; padding: 2%; width:96%; float:left; }
.title_tin2 { font-weight:bold; font-size:14px; color:#666; padding:10px 0; }
.itemAuthorLatest h3 { text-transform:uppercase; font-size:12px; margin: 5px 0; }
#component-contact { margin:6px 0 0 0; }
.timkiem { height:93px; width:794px; float:left; }
table.chantrang { text-align:right; padding: 45px 0 0 408px; display:block; }
ul.menu li.active a {
    color:#FF0000;
    display: block;
}
#vmMainPage { margin: 0; }
.moduletable_giohang h3 { background: url(../images/xuandung/menu_li_2.png) no-repeat; height:27px; line-height:27px; text-indent:30px; text-transform:uppercase; font-weight:bold; font-size:11px; color:#FFF; margin: -2px 0 0 0; }
.moduletable_phukien h3 { background: url(../images/xuandung/menu_li_2.png) no-repeat; height:27px; line-height:27px; text-indent:30px; text-transform:uppercase; font-weight:bold; font-size:11px; color:#FFF; margin: -2px 0 0 0; }
.moduletable_left_menu h3 { background: url(../images/xuandung/menu_left_h3.png) no-repeat; height:27px; line-height:27px; text-indent:30px; text-transform:uppercase; font-weight:bold; font-size:11px; color:#FFF; margin: 0; }
.lienketweb { background: url(../images/xuandung/lienketweb_h3.png) no-repeat; height:27px; line-height:27px; text-transform:uppercase; font-weight:bold; font-size:11px; color:#FFF; margin: 0; text-align:center; }
.banner_logo { width:230px; height:125px; float:left; }
.sanpham_ngaunhien { background: #FFF url(../images/xuandung/san_pham_home_bg.png) repeat-y; }
.sanpham_ngaunhien_end { background: #FFF url(../images/xuandung/san_pham_home_bg_end.png) no-repeat; width:100%; height:31px; margin: 0 0 15px 0; margin-top:-2px; }
table.sp_nn tr { padding: 5px; display:block; }

table.sp_nn td { width:250px; border:1px solid #d6d6d6; margin: 5px; float:left;}

.sanpham_lienquan_end { background: #FFF url(../images/xuandung/san_pham_home_bg_end.png) no-repeat; width:100%; height:31px; margin: 0 0 15px 0; float:left; }
.relatepro {
    clear: both;
    overflow: hidden;
    padding: 15px 0 0 15px;
}
.relatepro-items {
	border: 1px double #d6d6d6;
    float: left;
    height: 185px;
    margin: 5px;
    padding: 15px;
    width: 19%;
}

.hasTip img {
	margin: 0;
}

.tool-text p {
    background: url(../images/cham.gif) no-repeat scroll 0 2px transparent;
    color: #333333;
    text-indent: 15px;
}

/* Tooltips */
.tool-tip {
	float: left;
	border: 5px solid #333;
	padding: 10px 15px;
	background: #FFF;
}

.tool-title {
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
	font-weight: bold;
	color:#FF0000;
}

.tool-text {
	margin: 0;
}


.list-sanpham { float:left; height:190px; padding: 10px 0; }
.anh-mota { width:100%; float:left; }
.anhsanpham-list { width:100%; float:left; text-align:center; }
.motasanpham { width:100%; float:left; text-align:center; }
.motasanpham p { background:url(../images/cham.gif) 0 2px no-repeat; text-indent:12px; color:#333; }
.giasanpham { color:#E04139; font-weight:bold; }
.giasanpham a { color:#E04139; }
.tensanpham-list { text-align:center; font-weight:bold; margin-bottom:5px; }
.tensanpham-list a { font-weight:bold; }
div.moduletable_sanpham h3 { background:url(../images/xuandung/title_bg.png) no-repeat left; height:31px; line-height:30px; font-size:11px; text-indent:35px; color:#FFF; text-transform:uppercase; }
#vmMainPage h3 { background:url(../images/xuandung/title_bg.png) no-repeat left; height:31px; line-height:30px; font-size:12px; text-indent:35px; color:#FFF; text-transform:uppercase; }
#chitietsanpham h3 { background:url(../images/title_bg.png) no-repeat left; height:24px; line-height:24px; border-bottom:1px solid #e5e5e5; font-size:12px; text-indent:10px; color:#333; margin-bottom:10px; }
.anhchitietsanpham { width:100%; float:left; }
.anh-san-pham { width:60%; float:left; text-align:center; }
.xemhinh { float:left; }
.anh-san-pham img { margin-bottom:5px; }
.gia-san-pham { width:40%; float:left; }
.gio-hang { width:40%; float:left; }
.chi-tiet-san-pham { float:left; margin-top:30px; width:100%; padding:0 2% 0 0; }
.chi-tiet-san-pham h3 { background:url(../images/title.gif) no-repeat left; height:24px; line-height:24px; border-bottom:1px solid #e5e5e5; font-size:11px; text-indent:10px; color:#333; margin-bottom:10px; text-transform:uppercase; }
.next { margin-bottom:15px; float:left; width:100%; }
.ten-san-pham { font-weight:bold; }
.mo-ta p { background:url(../images/cham.gif) 0 2px no-repeat; text-indent:12px; color:#333; }
.gia-ca { color:#FF0000; font-weight:bold; }
.lienhe { background:url(../images/xuandung/title.gif) no-repeat left; height:31px; line-height:31px; font-size:12px; text-indent:25px; color:#FFF; text-transform:uppercase; font-weight:bold; }
.title_tin { background:url(../images/xuandung/title_bg.png) no-repeat left; height:31px; line-height:30px; font-size:11px; text-indent:35px; color:#FFF; text-transform:uppercase; font-weight:bold; margin: 6px 0 0 0; width:100%; float:left; }
#vvisit_counter { padding-top:5px; }
div.moduletable_online { text-align:center; }

/* COMMON STYLE
--------------------------------------------------------- */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	line-height: 18px;
}
body#bd {
	color: #333;
	background: url(../images/xuandung/pattern.png);
}
body #jv-wrapper {
    background: url(../images/xuandung/wrapper-bg.png);
    margin: 0 auto;
    width: 1038px;
}
body.fs1 {font-size: 10px;}
body.fs2 {font-size: 11px;}
body.fs3 {font-size: 12px;}
body.fs4 {font-size: 13px;}
body.fs5 {font-size: 14px;}
body.fs6 {font-size: 15px;}

/* Clearfix */
.clearfix {
	clear: both;
}
#jv-wrapper {
	padding: 0;
	overflow: hidden;
	text-align: left;
}
#jv-wrapper-inner {
	padding: 0;
	overflow: hidden;
	text-align: left;
	margin:0 auto;
}
.jv-wrapper {
	width: 1016px;
	margin: 0 auto;
	background:#FFF;
	padding: 0 4px;
}
.jv-inner {
	width: 978px;
}

#jv-userwrap1,
#jv-userwrap2,
#jv-userwrap3,
#jv-userwrap4,
#jv-userwrap5,
#jv-userwrap6,
#jv-userwrap11 {
	margin: 0;
	width: 100%;
}
#jv-userwrap2-inner,
#jv-userwrap5-inner,
#jv-userwrap6-inner,
#jv-userwrap7-inner11 {
	padding: 0;
	width: 100%;
	overflow: hidden;
}
#jv-userwrap1 {
	padding: 10px 0;
	width: 100%;
	overflow: hidden;
}
#jv-userwrap11 {
	padding: 0;
	width: 100%;
	overflow: hidden;
}
#jv-userwrap2 {
	background: #FFF;
	border-top: 1px solid #D6D6D6;
}
#jv-userwrap3 {
	overflow: hidden;
}
#jv-userwrap4 {
}
#jv-userwrap3-inner {
	padding: 0;
	overflow: hidden;
}

#jv-userwrap4-inner {
	width: 100%;
	overflow: hidden;
	margin-top:15px;
}
#jv-userwrap5-inner {
	background: #1A1A1A;
}
#jv-userwrap2 span {
	color: #707070;
}
#jv-hightlight {
	padding: 10px;
}
#jv-search {
	float: right;
	width: 50%;
	height:76px;
}
.jv-spotlight {
	width: 100%;
	overflow: hidden;
}


/* BEGIN EDIT
-------------------------------------------------------------*/
#jv-user1{
	width: 50%;
 	float: right;
	text-align: right;
	height: 29px;
	overflow: hidden;
	padding: 0;
}

#jv-user1 div.modulecontent{
 	padding: 0px;
	height: 29px;
}
#jv-user1 ul {
	margin: 0px; 
}
#jv-user1 ul li {
	background:url("../images/line-top.png") no-repeat scroll right top transparent;
	float:left;
	height:29px;
	line-height:29px;
	margin:0;
	padding:0 2px 0 0;
}
#jv-user1 ul li a {
	background: none;
	border: none;	
	color:#BBBBBB;
	display:block;
	margin:0;
	padding:0 10px;
	line-height: 29px;
}
#jv-user1 ul li a:hover {
	background: #434242;
	color: #51E8A3;
	display: block;
	text-decoration: none;

}
#jv-user2{
	width: 665px;
}
#jv-header-r{
   float:left;
   width: 810px;
   margin: 0;
}
#jv-user3 {
	margin: 5px 0 0 5px;
	width: 275px;
}
#jv-user5{
	margin:0;
}
#jv-user3 div.modulecontent{
	background:url(../images/bg-user3.png) repeat-x;
}
#modlgn_username,
#modlgn_passwd {
	background: #222222;
	height: 21px;
	border: 1px solid #373737;
	color: #878686;
	width: 158px;
	float:right;
}

div.leading div.modulecontent,
div.moduletable_Fusion div.modulecontent,
#jv-user5 div.modulecontent {
	padding:0px; display:block;
}
#jv-component div.leading ul.lstwellcome,
div.moduletable_enjoy {
	width:100%; display:block; height:auto;
	
}
div.moduletable_enjoy
 {
	height:auto;
	margin:0px;
	background:url("../images/line-wellcome.gif") repeat-x scroll center top transparent;
	padding-top:10px;
	padding-bottom:20px;
}

#jv-component div.leading ul.lstwellcome li{
	margin-top:15px;
	padding:0 3px 0 0;
	list-style:none;
	height:275px;
	width:210px;
	float:left;
	background:url(../images/line-wellcome.gif) repeat-x bottom;
	
}
#jv-component div.leading ul.lstwellcome-no li{
	margin-top:15px;
	padding:0 3px 0 0;
	list-style:none;
	height:275px;
	width:210px;
	float:left;
}
#jv-component div.leading div.bo_img{
	background:#313131 url(../images/goc_img.gif) no-repeat top right;   
	width:202px;
	height:154px;
	margin-bottom:10px;
	padding:5px 0 0 5px;
	display:block;
}
div.moduletable_enjoy div.modulecontent{
	padding:0px;
}

div.moduletable_banner div.modulecontent {
	padding:20px 0 20px;
}
#jv-col1 ,#jv-col2 ,#jv-col3 {
   float:left;
}
#jv-col1 div.jv-box-inside,
#jv-col2 div.jv-box-inside,
#jv-col3 div.jv-box-inside{
   margin-left:10px; display:inline;
   width:98%;
   float:left;
   background:#212121 url(../images/goc_img2.gif) no-repeat bottom right;
}
#jv-submenu {
	width: 100%;
	height: 30px;
	border-top:1px solid #393939;
	border-bottom:1px solid #1b1b1b;
}
#jv-submenu-inner {
	padding-top: 5px;
	width: 100%;
	height: 25px;
	background: #212121;
}

/* CLASS EDIT
-------------------------------------------------------------*/
.lmagrin_10{
	margin-left:10px;
}
.col1-content{
	width:190px; 
	margin-left:10px;
	color:#e7e7e7;
	font-size:11px;
	line-height:22px;
	float:left;
	
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
p.title_wellcome{
	color:#51e8a3; margin:0px;
	font-weight:bold;
}
div.moduletable {
	clear: both;
}
div.moduletable_login ul {
	display:block; height:40px;
}
div.moduletable_login ul li{
	float:left; display:block;
	list-style:none; clear:right;
	width:98%;
}

/*-------- List Menu --------------*/
ul.menu {
	
}
ul.menu li {
	margin: 0;
	padding:0;
	background:#FFF;
}
ul.menu li a {
	display: block;	
	line-height: 24px; height:29px;
	width:100%;
	text-indent:30px; margin: 0; color:#333; font-size:12px; font-weight:bold;
	background: url(../images/xuandung/menu_left_li.png) no-repeat;
}
ul.menu li a:hover {
	color:#FF0000;
	display: block;
	text-decoration: none;
}
ul.menu_right,
ul.col {
	margin:0px; 
}
ul.col li {
	padding: 10px 0 10px;
	list-style: none;
	float: left;
	clear: left;
	width: 100%;
	background: url("../images/line-wellcome.gif") repeat-x center top transparent;
}
#jv-footer ul.menu {
	margin: 0;
}
#jv-footer ul.menu li {
	list-style: none;
	display: inline-block;
	float: left;
	padding: 0 1px 0 0;
	margin: 0px;
	background: url(../images/bg-footer-seperator.jpg) no-repeat center right;
}
#jv-footer ul.menu li.last {
	background: none;
}
#jv-footer ul.menu li a {
	background: none;
	border: none;
	font-size: 11px;
	color: #a9a9a9;
	margin: 0px;
	padding: 0 5px 0 5px;
}
#jv-footer ul.menu li a:hover {
	color: #51E8A3;
	text-decoration: none;
}



.color1{
	color:#909090
}
.text-right{
	text-align:right;
}

/* jv_accordion_menu
-------------------------------------------------------------*/
.jv_ahovermenu_wrap a {
	color: #51E8A3 !important;
}
.jv_ahovermenu_wrap a.trigger {
	background: url(../images/bg-accordion-down.jpg) no-repeat 100% 0;
	border: 1px solid #373737;
	text-indent: 15px;
}
.jv_ahovermenu_wrap a.open,
.jv_ahovermenu_wrap a.active {
	color: #51E8A3;
	background: url(../images/bg-accordion-up.jpg) no-repeat 100% 0;
}
.jv_ahovermenu_wrap .last-child a.trigger {
	background: url(../images/bg-accordion-trigger.jpg) no-repeat 100% 0;
}
.jv_ahovermenu_wrap .last-child a.active {
	color: #51E8A3;
	background: url(../images/bg-accordion-trigger-active.jpg) no-repeat 100% 0;
}
.jv_ahovermenu_wrap a.trigger:hover {
	height: 25px;
	color: #51E8A3;
	display: block;
	text-decoration: none;
}

.jv_ahovermenu_wrap li {
	margin: 5px 0;
	padding: 0;
	background: none;
}
.jv_ahovermenu_wrap ul.jv_maccordion ul,
.jv_aclickmenu_wrap ul.jv_maccordion ul {
	padding: 0 0 0 10px;
}

ul.jv_maccordion {
	margin: 0;
}
/*.jv_ahovermenu_wrap li {
	list-style-type: none;
	background: url(../images/bt-menuright.png) repeat-x;
	border: 1px solid #373737;
	color: #b9b9b9;
	margin: 5px 0 5px;
	padding: 0 10px 0 10px;
}*/

/* JV Tabs
-------------------------------------------------------------*/


.jv-tabswrap div.jv-tab-subcontent {
	padding: 10px!important;	
}
.jv-tabswrap div.jv-tab-subcontent .module h3 {
	display: none;
}
.jv-tabswrap div.jv-tab-subcontent table img {
	margin-right: 10px;
	padding: 1px;
	border: solid 1px #B2B2B2;
	width:230px;
	height:210px;
}
span.prev {
	display: block;
	position: absolute;
	left: 0;
	width: 25px;
	height: 25px;
	background: url(../images/arrow-left.png) no-repeat;
	cursor: pointer;
	font-size: 1px;
	z-index: 999;
}
* html span.prev {
	background: url(../images/arrow-left.png) no-repeat;
}
span.prev:hover,
span.prev:focus,
span.prev:active {
	background: url(../images/arrow-left.png) no-repeat;
}
* html span.prev:hover,
* html span.prev:focus,
* html span.prev:active {
	background: url(../images/arrow-left.png) no-repeat;
}
span.next {
	display: block;
	position: absolute;
	right: 0;
	width: 25px;
	height: 25px;
	background: url(../images/arrow-right.png) no-repeat;
	cursor: pointer;
	font-size: 1px;
	z-index: 999;
}
span.next {
	background: url(../images/arrow-right.png) no-repeat;
}
span.next:hover,
span.next:focus,
span.next:active {
	background: url(../images/arrow-right.png) no-repeat;
}
* html span.next:hover,
* html span.next:focus,
* html span.next:active {
	background: url(../images/arrow-right.png) no-repeat;
}
.jvtooltip-box{
	z-index: 10;
}

/* BEGIN HEADER
-------------------------------------------------------------*/
#jv-header2 {
	width: 100%;
}
#jv-header2-inner {
	width: 100%;
	overflow: hidden;
	height:104px;
}

#jv-header {
	width: 100%;
}
#jv-header-inner {
	width: 100%;
	overflow: hidden;
	height:33px;
	background: url(../images/xuandung/menu_bg.png);
}
#jv-toped{
	margin: 0px;
	padding: 0px;
	height: 29px;
	overflow: hidden;
}
#jv-top {
	margin: 0;
	padding-top: 5px;
	color: #bbbbbb;
	width: 50%;
	float:left;
	height: 22px;
	overflow: hidden;
}
#jv-top p{
	margin: 0;	
}
#jv-top div.modulecontent {
	margin:0; padding:5px; font-size:11px;
}
#jv-top ul {
	margin: 0;
	list-style: none;
}
#jv-top ul li {
	padding: 0 20px;
	display: inline;
	border-right: solid 1px #DFE7FF;
}
#jv-top ul li.last {
	border: none;
}
#jv-logo {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	float: left;
	width: 20%;
	height: 98px;
}
#jv-logo h1 {
	float: left;
	overflow: hidden;height: 85px;
	margin: 10px 0 10px 0;
	background: url(../images/logo.png) no-repeat 40px 5px;
}
#jv-logo h1 a {
	display: block;
	height: 85px;
	width: 220px;
	margin: 0;
}
#jv-logo h1 a span {
	display: none;
}
#jv-mainmenu {
	margin: 0;
	width: 100%;
	height: 33px;
}
#jv-mainmenu-inner {
	width: auto;
	float:left;
	height: 33px;
}

#jv-slideshow {
}
/* END HEADER
-------------------------------------------------------------*/

/* BEGIN CONTAINER
-------------------------------------------------------------*/
#jv-mainbody {
	width: 100%;
}
#jv-mainbody-inner {
	overflow: hidden;
	background: #FFF url(../images/xuandung/body_bg_top.png) no-repeat top; padding: 10px 0 0 0;
}
#jv-container,
#jv-container-left,
#jv-container-right,
#jv-container-full {
	width: 100%;
	margin:0;
	overflow: hidden;
}


#jv-right,#jv-left  {
	margin: 0;
	padding: 0;
	width: 206px;
	overflow: right;
	float: right;
}
#jv-left{
	float:left;
}


#jv-content {
	margin: 0;
	padding: 0;
	width: 666px;
	overflow: hidden;
	float: left;
}

#jv-container-left #jv-content{
	padding: 0;
}
#jv-maincontent {
	margin: 0;
	padding: 0;
	width: 550px;
	float: left;
	overflow: hidden;
	position: relative;
}
#jv-component {
	margin: 0;
	padding: 0px;
	display: block;
	overflow: hidden;
}
#jv-container-left #jv-content {
	width: 805px; margin: 0 0 0 5px;
}
#jv-container-col #jv-content {
	width: 430px; display:block;
}
#jv-container-right #jv-content {
	width: 660px;
}
#jv-content-inner{
	padding: 0;
}
#jv-container-right #jv-maincontent {
	width: 660px;
}
#jv-container-full #jv-content {
	width: 100%;
	float: none;
}
#jv-container-full #jv-maincontent {
	width: 100%;
}
.arial_13{
	font-size:13px;
}

/* END CONTAINER
-------------------------------------------------------------*/

/* BEGIN FOOTER 
-------------------------------------------------------------*/
.jv-user {
	float: left;
	overflow: hidden;
}
.jv-box-right {
	float: right;
}
.jv-user .jv-box-inside {
	padding:0px;
}
.jv-box-full {
	width: 100%;
}

#jv-bottom {
	width: 100%;
}
#jv-bottom-inner {
	width: 100%;
	padding: 0; height:125px;
	background: url(../images/xuandung/footer-bg.gif) repeat-x;	
}

#jv-footer {
	float: left;
	width: 100%;
	padding: 0;
}
#jv-footer-inner {
	padding: 0;
	width:48%;
	float:left;
	padding:15px 0 0 1%;
}

.footer-thongke { width:50%; float:left; }
/* END FOOTER 
----------------------------------------------*/

div.moduletable,
div.moduletable_menu,
div.moduletable_text,
div.module,
div.module_menu,
div.module_text {
	clear: both;
	margin: 0;
	position: relative;
	clear:both;
}
#jv-userwrap4 div.moduletable,
#jv-userwrap4 div.moduletable_menu,
#jv-userwrap4 div.moduletable_text {
	border: none;
	margin: 0;
	background: none;
}
div.moduletable h3.moduletitle,
div.moduletable_menu h3.moduletitle,
div.moduletable_text h3.moduletitle,
div.module h3.moduletitle,
div.module_menu h3.moduletitle,
div.module_text h3.moduletitle {
	color: #fff;
	font-weight: bold;
	width: 100%;
	margin: 0;
	line-height: 25px;
	text-indent: 10px;
	height:25px; font-size:12px; text-transform:uppercase;
	background: url(../images/danhmuc.jpg) repeat-x;
}
#jv-userwrap4 div.moduletable h3.moduletitle,
#jv-userwrap4 div.moduletable_menu h3.moduletitle,
#jv-userwrap4 div.moduletable_text h3.moduletitle {
	background: #484848;
	text-indent: 10px;
}
div.modulecontent {
	padding: 0;
	overflow: hidden;
}
div.moduletable-blank div.modulecontent {
	padding: 0;
}
.blue {
	color: #51E8A3;
}
/* BEGIN FRAME 
----------------------------------------------*/
.jvbr,
.jvbl,
.jvtr,
.jvtl {
}
/* END FRAME 
----------------------------------------------*/
#paginate-jvtitleflash {
	padding: 0;
}
#paginate-jvtitleflash ul {
	margin: 0;
}
.jv-jvtitleflash .sliderwrapper {
	height: 20px !important;
}
.jv-jvtitleflash .sliderwrapper .contentdiv  {
	padding: 0 0 0 10px;
	height: 15px !important;
}

.jv-majuheadline-wrapper {
	margin: 0;
	padding: 0;
	border: none;
}
.jv-proshow-group {
	top: 10px;
}
.jv-proshow-group a img {
	padding: 2px;
}
.jv-proshow-intro {
	bottom: 10px;
	width: 500px;
}
.jv_wrap_twitter .jv_twitter_status {
	margin: 0;
}

.jv_tabs3 .jv-tabs-title-top ul.jv-tabs-title li {
	float: left;
}
.jv-tab-panels-top {
	background: #212121;
	border: 1px solid #323232;
}
.jv-tabswrap .jv-tab-content li {
	padding: 4px 6px;
}
.jv-tabswrap .jv-tab-content li h3 {
	display: none;
}

li.jv_amenu_item a {
	color: #646464;
	line-height: 25px;
}
div.scrollablewrap58 {
	width: 95%;
	padding: 0 0 0 18px;
	background: #313131 url(../images/scroll-left.png) no-repeat 0 0;
}
div.scrollable58 {
	width: 582px;
	padding: 10px 40px 10px 20px;
	background: url(../images/scroll-right.png) no-repeat 100% 0;
}
span#jvcf_58_previous,
span#jvcf_58_next {
	top: 46px;
}
span.prev {
	left: 5px;
}
span.next {
	right: -10px;
}
.jvtooltip-box {
	color: #222;
}
.jdSlideshow a.left {
	background: url(../images/arrows.png) no-repeat left center;
}
.jdSlideshow a.right {
	background: url(../images/arrows.png) no-repeat right center;
}
div.jv_tabnews{
	background:none;
}
div.jv_tab_news_wrap{
	padding:0;
}
div.jv_tabnews div.jv_tabnews_bl,div.jv_tab_news_wrap {
	background:none;
}
div.jv_tabs_panel{
	background:none repeat scroll 0 0 #212121;
	border:1px solid #323232;
}
.jv_tabnews_bl div.news_title{
	background:none;
}
ul.tabs_title{height:31px;}
.jv_tabnews .news_title ul.tabs_title li h3,.jv_tabnews .news_title ul.tabs_title li h3 span{
	background:none;
	border:none;
	margin:0;
}
.jv_tabnews .news_title ul.tabs_title li{height:100%;}
.jv_tabnews .news_title ul.tabs_title li h3 span {
	height:31px;
	color:#51E8A3;
	font-size:11px;
	text-transform:uppercase;
	padding:0 10px 0 !important;
	font-weight:normal;
}
.jv_tabnews .news_title ul.tabs_title li.active  h3 span{
	border:1px solid #393939;
	color:#FFFFFF;
	padding:0 10px 0 !important;
	background:none repeat scroll 0 0 #313131;
}
.jv_news_content{overflow:hidden;}