div.menusys_split {
	float: right;
}

#menusys_split {
	margin: 0;
	padding: 0;
	float: left;
	height: 35px;
}

#menusys_split ul {
	margin: 0;
	padding: 0;
	display: none;
}

#menusys_split li {
	margin: 0 5px 0 0; 
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}

/* Menu styling begin */
#menusys_split li a {
	padding: 0 0 0 10px;
	display: block;
	text-decoration: none;
	line-height: 35px;
	background: url(../../images/mainmenu-l.png) no-repeat left center;
}
#menusys_split li a span {
	padding: 0 10px 0px 0;
	border: none;
	display: block;
	line-height: 35px;
	color: #d4d4d4;
	font-size:11px;
	text-transform: uppercase;
	background: url(../../images/mainmenu-r.png) no-repeat right center;
}

#menusys_split li a:hover, 
#menusys_split li a:active, 
#menusys_split li a:focus {
}
#menusys_split li a:hover span, 
#menusys_split li a:active span, 
#menusys_split li a:focus span {
	color: #4cd395;
}
#menusys_split li:hover a, 
#menusys_split li.hover a, 
#menusys_split li.havechildhover a, 
#menusys_split li.havechild-activehover a {
}

#menusys_split li:hover a span,
#menusys_split li.hover a span, 
#menusys_split li.havechildhover a span, 
#menusys_split li.havechild-activehover a span {

}

#menusys_split li a.active,
#menusys_split li a.active:hover,
#menusys_split li a.active:active,
#menusys_split li a.active:focus {
}

#menusys_split li a.active span,
#menusys_split li a.active:hover span,
#menusys_split li a.active:active span,
#menusys_split li a.active:focus span {
	color: #4cd395;
}

#jv-submenu div.menusys_split {
	clear: both;
	display: block;
	height: 20px;
	margin: 0 0 0 10px;
	padding: 0;
}
#menusub_split {
	margin: 0;
	padding: 0;
	float: left;
	height: 25px;
	display: block;
}
#menusub_split li {
	margin: 0 5px 0 0; 
	padding: 0;
	float: left;
	display: block;
	background: none;
	cursor: pointer;
}
#menusub_split li a {
	padding: 0 0 5px 0;
	display: block;
	color: #FFF;
	text-decoration: none;
	line-height: 20px;
}
#menusub_split li a span {
	padding: 0 10px;
	line-height: 20px;
	display: block;
	border: none;
	color: #5E5E5E;
}
#menusub_split li a.active span,
#menusub_split li a:hover span,
#menusub_split li a:active span,
#menusub_split li a:focus span,
#menusub_split li:hover a span,
#menusub_split li.hover a span {
	background: #121212;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
#menusub_split li ul {
	width: 16.9em;
	position: absolute;
	z-index: 99;
	left: -999em; 
	height: auto;
	margin: 0;
	background: #525252;
	border-top: solid 1px #373737;
	border-left: solid 1px #373737;
	border-right: solid 1px #373737;
}
#menusub_split li ul ul {
	margin: -1.8em 0 0 15.5em;
}
#menusub_split li li {
	padding: 0;
	line-height: 24px;
	margin: 0;
	width: 16.9em;
}
#menusub_split ul a {
}
#menusub_split li:hover ul ul, #menusub_split li:hover ul ul ul,
#menusub_split li.hover ul ul, #menusub_split li.havechildhover ul ul, #menusub_split li.havechild-activehover ul ul, #menusub_split li.activehover ul ul,
#menusub_split li.hover ul ul ul, #menusub_split li.havechildhover ul ul ul, #menusub_split li.havechild-activehover ul ul ul, #menusub_split li.activehover ul ul ul {
	left: -999em;
}
#menusub_split li:hover ul, #menusub_split li li:hover ul, #menusub_split li li li:hover ul,
#menusub_split li.hover ul, #menusub_split li.havechildhover ul, #menusub_split li.havechild-activehover ul, #menusub_split li.activehover ul,
#menusub_split li li.hover ul, #menusub_split li li.havesubchildhover ul, #menusub_split li li.havesubchild-activehover ul, #menusub_split li li.activehover ul,
#menusub_split li li li.hover ul, #menusub_split li li li.havesubchildhover ul, #menusub_split li li li.havesubchild-activehover ul, #menusub_split li li li.activehover ul {
	left: auto;
}
#menusub_split li:hover a.active span,
#menusub_split li a:hover span,
#menusub_split li a:active span,
#menusub_split li a:focus span,
#menusub_split li a.active:hover span,
#menusub_split li a.active:active span,
#menusub_split li a.active:focus span,
#menusub_split li:hover a span,
#menusub_split li.hover a span,
#menusub_split li.havechildhover a span,
#menusub_split li.havechild-activehover a span {
}
#menusub_split li ul ul li {
}
#menusub_split li ul li {
	border-bottom: solid 1px #373737;
	background: #303030 url(../../images/bt-menuright.png) repeat-x top;
}
#menusub_split li ul li.hasChild {
}
#menusub_split li ul a {
	margin: 0;
	padding: 0;
	line-height: normal;
	height: auto;
	border: none !important;
}
#menusub_split li ul a:hover,
#menusub_split li ul a:active,
#menusub_split li ul a:focus {
}
#menusub_split li ul a span {
	padding: 0 0 0 20px;
	line-height: 28px;
	font-weight: normal;
	background: none !important;
	text-transform: none;
	color: #FFF !important;
}
#menusub_split li.havesubchild,
#menusub_split li.havesubchild-active {
}
#menusub_split li ul a:hover,
#menusub_split li ul a:active,
#menusub_split li ul a:focus,
#menusub_split ul li:hover,
#menusub_split ul li.hover,
#menusub_split ul li.havesubchildhover,
#menusub_split ul li.havesubchild-activehover,
#menusub_split ul ul li:hover,
#menusub_split ul ul li.hover,
#menusub_split ul ul li.havesubchildhover,
#menusub_split ul ul li.havesubchild-activehover {
}
#menusub_split li ul a.active span,
#menusub_split li ul a:hover span,
#menusub_split li ul a:active span,
#menusub_split li ul a:focus span {
	color: #51E8A3 !important;
}
#menusub_split ul li a.active {
}
#menusub_split ul li a.active:hover,
#menusub_split ul li a.active:active,
#menusub_split ul li a.active:focus {
}