.menusys_moo {
	float: left;
}

#menusys_moo {
	margin: 0;
	padding: 0;
	float: left;
	height: 33px;
}
#menusys_moo ul {
	margin: 0; 
	padding: 0;
}
#menusys_moo li.li-first {
	background: none !important;
}
#menusys_moo li {
	margin: 0; 
	padding: 0;
	float: left;
	display: block;
	background: none;
	background: url(../../images/xuandung/menu_border.png) no-repeat right;
	cursor: pointer;
}

#menusys_moo li ul {
	width: 16.9em;
	position: absolute;
	z-index: 99;
	left: -999em; 
	height: auto;
}

#menusys_moo li ul ul {
	margin: -1.8em 0 0 15.5em;
}
#menusys_moo li li {
	padding: 0;
	line-height: 24px;
	margin: 0;
	width: 16.9em;
}
#menusys_moo ul a {
}
#menusys_moo li:hover ul ul, #menusys_moo li:hover ul ul ul,
#menusys_moo li.hover ul ul, #menusys_moo li.havechildhover ul ul, #menusys_moo li.havechild-activehover ul ul, #menusys_moo li.activehover ul ul,
#menusys_moo li.hover ul ul ul, #menusys_moo li.havechildhover ul ul ul, #menusys_moo li.havechild-activehover ul ul ul, #menusys_moo li.activehover ul ul ul {
	left: -999em;
}

#menusys_moo li:hover ul, #menusys_moo li li:hover ul, #menusys_moo li li li:hover ul,
#menusys_moo li.hover ul, #menusys_moo li.havechildhover ul, #menusys_moo li.havechild-activehover ul, #menusys_moo li.activehover ul,
#menusys_moo li li.hover ul, #menusys_moo li li.havesubchildhover ul, #menusys_moo li li.havesubchild-activehover ul, #menusys_moo li li.activehover ul,
#menusys_moo li li li.hover ul, #menusys_moo li li li.havesubchildhover ul, #menusys_moo li li li.havesubchild-activehover ul, #menusys_moo li li li.activehover ul {
	left: auto;
}

/* Menu styling begin */
#menusys_moo li a {
	padding: 0 0 0 30px;
	display: block;
	text-decoration: none;
	line-height: 33px;
}
#menusys_moo li a span {
	padding: 0 30px 0 0;
	border: none;
	display: block;
	line-height: 33px;
	color: #FFF;
	font-size:11px;
	text-transform: uppercase;
	font-weight:bold;
}

#menusys_moo li a:hover,
#menusys_moo li a:active,
#menusys_moo li a:focus {
}
#menusys_moo li a:hover span,
#menusys_moo li a:active span,
#menusys_moo li a:focus span {
	color: #454545; background: url(../../images/xuandung/menu_active.gif);
}
#menusys_moo li:hover a,
#menusys_moo li.hover a,
#menusys_moo li.havechildhover a,
#menusys_moo li.havechild-activehover a {
	color: #FFF; background: url(../../images/xuandung/menu_active_left.png) left no-repeat;
}

#menusys_moo li a:hover span,
#menusys_moo li a:active span,
#menusys_moo li a:focus span,
#menusys_moo li:hover a span,
#menusys_moo li.hover a span,
#menusys_moo li.havechildhover a span,
#menusys_moo li.havechild-activehover a span {
	color: #FFF; background: url(../../images/xuandung/menu_active_right.png) right no-repeat;
}

#menusys_moo li a.active,
#menusys_moo li a.active:hover,
#menusys_moo li a.active:active,
#menusys_moo li a.active:focus {
	color: #FFF; background: url(../../images/xuandung/menu_active_left.png) left no-repeat;
}

#menusys_moo li a.active span,
#menusys_moo li a.active:hover span,
#menusys_moo li a.active:active span,
#menusys_moo li a.active:focus span {
	color: #FFF;
	background: url(../../images/xuandung/menu_active_right.png) right no-repeat;
}

#menusys_moo li ul {
	background: #525252;
	border-top: solid 1px #373737;
	border-left: solid 1px #373737;
	border-right: solid 1px #373737;
}

#menusys_moo li ul ul {
}
#menusys_moo li ul li {
	border-bottom: solid 1px #373737;
	background: #303030 url(../../images/bt-menuright.png) repeat-x top;
}

#menusys_moo li ul a,
#menusys_moo li ul a:hover,
#menusys_moo li ul a:active {
	margin: 0;
	padding: 6px 0;
	line-height: normal;
	height: auto;
	background: none !important;
	border: none !important;
	text-shadow: none;
}

#menusys_moo li ul a span {
	padding: 0 0 0 10px;
	font-weight: normal;
	line-height: 15px;
	color: #FFF !important;
	background: none !important;
	text-transform: none;
}

#menusys_moo li.havesubchild,
#menusys_moo li.havesubchild-active {
}

#menusys_moo li ul a:hover,
#menusys_moo li ul a:active,
#menusys_moo li ul a:focus,
#menusys_moo ul li:hover,
#menusys_moo ul li.hover,
#menusys_moo ul li.havesubchildhover,
#menusys_moo ul li.havesubchild-activehover,
#menusys_moo ul ul li:hover,
#menusys_moo ul ul li.hover,
#menusys_moo ul ul li.havesubchildhover,
#menusys_moo ul ul li.havesubchild-activehover {
	background: #222;
}

#menusys_moo li ul a.active span,
#menusys_moo li ul a:hover span,
#menusys_moo li ul a:active span,
#menusys_moo li ul a:focus span {
	color: #51E8A3 !important;
}
#menusys_moo ul li a.active {
}

#menusys_moo ul li a.active:hover,
#menusys_moo ul li a.active:active,
#menusys_moo ul li a.active:focus {
}