.jv_tab_default_wrap{
	margin: 0;
	padding:0;
}
.jv_tab_default_wrap .jv_default_container{
	padding:5px !important;
	margin:0;
}
.jv_tab_default_wrap .jv_tabdefault{
	margin-bottom: 13px;
	padding-top: 36px;
	position: relative;
}
.jv_tab_default_wrap .jv_default_wrap1 {
	width:100%;
	padding-top:10px;	
}
.jv_tab_default_wrap .jv_default_wrap2 {
	overflow:hidden;
	position: relative;
}
.jv_tab_default_wrap ul.tabs_title {
	left: 0;
	top:0;
	padding:0;	
	margin:0;
	position: absolute;
	z-index: 9;
	list-style: none;
}
.jv_tab_default_wrap ul.tabs_title li{
	display: block;
	float: left;
	margin-right: 4px;
	padding: 0;
	background: none;
}
.jv_tab_default_wrap ul.tabs_title li h3{
	height: 36px;
	display: block;
	margin: 0;
	padding-left: 5px;
	line-height: 36px;
	color: #76766a;
	cursor: pointer;
	background: url(images/tabs.png) no-repeat 0 0;		
}
.jv_tab_default_wrap ul.tabs_title li h3 span{
	background: url(images/tabs.png) no-repeat top right;
	height: 36px;
	display: block;
	padding-right: 13px;
	padding-left: 8px;
	line-height: 36px
	color: #76766A;	
}
.jv_tab_default_wrap div.tabtop {
	background:url(images/tabs_content_tops.png);
	width:289px;
	height:5px;
	clear:both	
}
.jv_tab_default_wrap ul.tabs_title li.active{
	margin-top: 0;
}
.jv_tab_default_wrap ul.tabs_title li.active h3,
.jv_tab_default_wrap ul.tabs_title li.active h3 span {
	background-image: url(images/tabs_active.png);
	background-position: left top;
	height: 39px;
	line-height: 36px;
}
.jv_tab_default_wrap ul.tabs_title li.active h3 span{
	background-position: right top;
}

.jv_tab_default_wrap ul.tabs_title li.first.active h3,
.jv_tab_default_wrap ul.tabs_title li.first.active h3 span {
	height: 43px;
	background-position: left bottom;
}
.jv_tab_default_wrap ul.tabs_title li.first.active h3 span {
	background-position: right bottom;
}

.jv_tab_default_wrap ul.tabs_title li.first h3,
.jv_tab_default_wrap ul.tabs_title li.first h3 span {
	height: 43px;
	background-position: left bottom;
}
.jv_tab_default_wrap ul.tabs_title li.first h3 span {
	background-position: right bottom;
}

.jv_tab_default_wrap .jv_tabs_panel {
	width: 100%;	
	background: url(images/lbg.gif) repeat-y left top #FFFFFF;
}
.jv_tab_default_wrap .jv_tabs_panel_r {
	width: 100%;
	background: url(images/rbg.gif) repeat-y right top;
}
.jv_tab_default_wrap .jv_tabs_panel_bc {
	background:url(images/bbg.gif) repeat-x left bottom;
}
.jv_tab_default_wrap .jv_tabs_panel_bl {
	background:url(images/br.gif) no-repeat left bottom;
}
.jv_tab_default_wrap .jv_tabs_panel_br {
	background:url(images/bl.gif) no-repeat right bottom;
}
.jv_tab_default_wrap .jv_tabs_panel .panel_tc {
	background:url(images/tbg.gif) repeat-x left top;
}
.jv_tab_default_wrap .jv_tabs_panel .panel_tl {
	width:100%;
	background:url(images/tr.gif) no-repeat left top;
}
.jv_tab_default_wrap .jv_tabs_panel .panel_tr {
	background: url(images/tl.gif) no-repeat right top;
	width: 100%;		
}
.jv_tab_default_wrap .jv_tabs_panel h4 {
	margin: 0;
}
.jv_tab_default_wrap .jv_default_content {
	overflow: hidden;	
	position: absolute;
	width: 100%;
}
.jv_tab_default_wrap .jv_default_content .jv_default_conten_wrap{
	clear:both;
	padding: 7px;
	margin:0 !important;
}
.jv_tab_default_wrap div.jv_tabs_panel .jv_default_content ul {
	list-style:none;
	clear:both;
	padding: 7px;
	margin:0 !important;
}
.jv_tab_default_wrap div.jv_tabs_panel .jv_default_content ul li {
	background: none;
	border-bottom:1px solid #DFDFDF;
	margin:0;
	padding: 6px;
}
.jv_tab_default_wrap div.jv_tabs_panel .jv_default_content h3{
	background:none;
	font-family:Tahoma;
	font-size:95%;
	height:100%;
	line-height:100%;
	margin:5px 0 5px 0;	
}
.jv_tab_default_wrap div.jv_tabs_panel .jv_default_content li a{
	color:#2A5B9E;
	text-decoration:none;
	margin:0;
	font-weight:bold;
	padding:0 !important;
}
.jv_tab_default_wrap div.jv_tabs_panel .jv_default_content li a img{
	border:1px solid #B2B2B2;
	padding:1px;
	margin-right:10px;
}
.jv_tab_default_wrap div.jv_tabs_panel p.readmore{
	clear:both;
	margin: 0;
	padding: 0;
}
.jv_tab_default_wrap div.jv_tabs_panel p.readmore a{
	text-decoration: none;
	padding-left: 15px;
	font-weight: bold;
}
.jv_tab_default_wrap li.item_active{
	background: #EEE !important;
}
                      
